*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}
section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section{
    background: url(../assets/restaurant_interior_content.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 19vh 0vh;
}
.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 10vh;
}
.inner-container h1{
    margin-bottom: 4vh;
    font-size: 5vh;
    font-weight: 900;
}
.text{
    font-size: 2vh;
    color: #545454;
    line-height: 3vh;
    text-align: justify;
    margin-bottom: 2.083vh;
}
.about{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 2vh;
}
@media screen and (max-width:62.5vh){
    .inner-container{
        padding: 4.16vh;
    }
}
@media screen and (max-width:50vh){
    .about-section{
        background-size: 100%;
        padding: 5vh 2vh;
    }
    .inner-container{
        width: 100%
    }
}
@media screen and (max-width:31.25vh){
    .about-section{
        padding: 0vh;
    }
    .inner-container{
        padding: 3vh;
    }
}
