footer{
    width: 100%;
    background-color: #252525;
    height: 10vh;
    display: flex;
}

.footer-contents{
    width: 50%;
    height: 90%;
}

.footer-address{
    display: flex;
    align-items: center;
}

.address{
    font-size: 2vmin;
    color: white;
}

.logo-img{
    height: 100%;
}
