* {
    margin: 0;
    padding: 0;
}

nav, footer, #content{
    width: 100%;
}

nav{
    background-color: #252525;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer{
    background-color: #252525;
    height: 10vh;
    display: flex;
}

.menu-item-placeholder a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 4vmin;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#content{
    position: relative;
    background-color: red;
    height: 200vh;
}

.logo-img{
    height: 100%;
}

.logo-img-placeholder{
    display: inherit;
    height: 100%;
}

.menu-item-placeholder{
    display: flex;
    height: 100%;
    width: 35%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 100%;
}


.carousel-wrapper{
    position: absolute;
    width: 100%;
    height: 40%;
}

.carousel{
    position: inherit;
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
}

.carousel-content{
    min-width: 100%;
}

.carousel-img{
    min-width: 100%;
    width: 100%;
}

.carousel-index{
    position: absolute;
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    width: 15%;
    height: 2%;
    left: 43%;
    bottom: 4vmax;
}

.circle{
    position: relative;
    border-radius: 50%;
    background-color: grey;
    opacity: 50%;
    height: 2vw;
    width: 2vw;
}

.active{
    opacity: 100%;
}