* {
    margin: 0;
    padding: 0;
}

#banner, #content{
    width: 100%;
}

#banner{
    position: relative;
    background-color: red;
    height: 90vh;
}

.carousel-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel{
    position: inherit;
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
}

.carousel-content{
    min-width: 100%;
    min-height: 100%;
}

.carousel-img{
    min-width: 140vmax;
    min-width: 140vmax;
}

.carousel-index{
    position: absolute;
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    width: 15%;
    height: 2%;
    left: 43%;
    bottom: 4vmax;
}

.circle{
    position: relative;
    border-radius: 50%;
    background-color: grey;
    opacity: 50%;
    height: 2vw;
    width: 2vw;
}

.active{
    opacity: 100%;
}

#content{
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    overflow: hidden;
}

.content-item{
    width: 100%;
    height: 25%;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.content-img{
    width: 100%;
}

.content-img:hover{
    opacity: 50%;
}

.content-title{
    position: absolute;
    font-size: 0vw;
    color: blanchedalmond;
    text-align: center;
    top: 20%;
}

.content-text{
    position: absolute;
    font-size: 0vw;
    color: blanchedalmond;
    text-align: center;
    top: 40%;
}

.clicked{
    position: absolute;
    height: 90vh;
    opacity: 100%;
}

.overlay{
    background-color: black;
}

.overlay-active{
    position: absolute;
    width: 100%;
    height: 90%;
}

.content-text-active{
    width: 100%;
    height: 100%;
    font-size: 3vw;
}

.content-title-active{
    width: 100%;
    height: 100%;
    font-size: 4vw;
}

.content-img-active{
    opacity: 50%;
}