@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
a{
    transition: all 0.5s;
    text-decoration: none;
    color: white;
}
main img{
    width: 100%;
    transition: all 0.5s;
}
section{
    padding: 3.645vh 0vh;
    margin-top: 0vh;
    background: url(../assets/restaurant_interior_content.jpg);
    text-align: center;
}
.containar{
    max-width: 150vh;
    width: 100%;
    margin: 0vh auto;
}
main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5625vh;
    margin: 1.5625vh 0.78125vh 0vh 1.5625vh;
}
header{
    width: 70%;
    margin: 0vh auto;
}
header h1{
    margin: 0vh;
    font-size: 5vw;
    color: white;
    font-weight: 1000;
}
.card{
    position: relative;
    overflow: hidden;
    max-height: 45vh;
    height: 100%;
    box-shadow: 0vh 0.10416vh 0.52083vh #ccc;
    transition: all 0.5s;
}
.card:hover{
    box-shadow: 0vh 0.10416vh 0.52083vh #ccc;
    transition: all 0.5s;
}
.card:hover img{
    transform: scale(1.3);
    transition: all 0.4s;
}
.blogcontent{
    position: absolute;
    left: 0vh;
    bottom: -2.34375vh;
    width: 100%;
    color: #fff;
    padding: 0.52083vh 0.260416vh;
    background: linear-gradient(
        45deg,
        black 0%, 
        rgba(144, 192, 229, 0.4) 100%
    );
    transition: all 0.5s;
}
.blogcontent h3{
    font-size: 2vh;
    font-weight: 500;
    margin: 0vh;
}
.blogcontent h3 span{
    display: block;
    font-size: 60%;
    margin-top: 0.26041vh;
    font-weight: 600;
    color: gold;
}
.card:hover .blogcontent{
    bottom: 0vh;
    transition: all 0.5s;
}
.blogcontent a{
    font-size: 2vh;
    font-weight: 500;
}
.blogcontent .btn{
    display: block;
    padding: 0.26041vh 0,52083;
    border: 0,052083vh solid #fff;
    border-radius: 0,15625vh;
    font-weight: 400;
}
.blogcontent .btn:hover{
    background: black;
    transition: all 0.5s;
    text-decoration: none;
}
.blogcontent a:hover{
    text-decoration: underline;
}