section{
    height: 90vh;
}

.containar{
    height: 100%;
    width: 100%;
}

.content-placeholder{
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    justify-self: center;
    justify-content: center;
}

.content{
    display: flex;
    width: 50%;
    height: 100%;
    overflow: hidden;
    justify-self: center;
    justify-content: center;
}


form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10%;
    height: 100%;
    background-color: grey;
    font-size: 3vmin;
    align-items: center;
    border-radius: 1;
}

input:focus{
    border-width: 2;
}

.component{
    width: 50%;
}

#error-message{
    color: red;
    font-size: 2vmin;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

#submit{
    width: 10vmin;
    height: 5vmin;
}