.containar{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.newctn{
    display: flex;
    flex-direction: row;
    width: 30px;
    /* justify-content: center; */
}

/* .newctn1{
    flex: 1;
}

.newctn2{
    flex: 1;
}

.newctn3{
    flex: 1;
} */

.imgs{
    width: 300px;
    height: 600px;
    padding: 30px;
}

form{
    width: 250px;
    margin: 30px;
    background-color: white;
    font-size: 25px;
    border-radius: 1;
}